<div class="container">
  <div class="wrapper">
    <div class="top-section">
      <div class="sidebar-left">
        <app-decisions></app-decisions>
       <app-map></app-map>
        <app-barchart></app-barchart>
       
      </div>
      <div class="center-section">
        <div class="cluster-center">
          <app-clusterVisualization></app-clusterVisualization>
            </div>

    
        <div class="barchart-bottom">
          <app-exhibitionBarchart></app-exhibitionBarchart>
         
          

          
        </div>
      </div>
      <div class="sidebar-right">
        <!-- <app-plot> </app-plot> -->
         <app-artistGanttChart></app-artistGanttChart>
         <app-ganttChart></app-ganttChart>
       
       <!--  <div class="network-section">
          <h1>Network with {{value3}}</h1>
          <app-focusOnCluster [displayValue]="value3"></app-focusOnCluster>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- Separate container underneath -->
<!-- <div class="container separate-container">
  <app-exhibitionVisualization></app-exhibitionVisualization>
</div> -->