<div class="artist-gantt-container" #artistGantt>
   <!-- Display loading indicator if data is still loading -->
   <div *ngIf="isLoading" class="loading-container">
    <div class="loading-spinner"></div>
</div>
  <ng-container *ngIf="!isLoading">
      <h1 *ngIf="!selectedArtists">Overview of all artists' lifespans</h1>
      <h1 *ngIf="selectedArtists && selectedArtists.length > 1">Overview of artists' lifespans in the selected cluster</h1>
      <h1 class="noMargin" *ngIf="selectedArtists && selectedArtists.length === 1">
          Lifespan of {{selectedArtists[0].firstname}} {{selectedArtists[0].lastname}}
      </h1>
  </ng-container>
  <figure class="artist-gantt-svg-container"></figure>
  <div id="tooltip" class="tooltip" style="display: none;"></div>

 
</div>
